<?xml version='1.0' encoding='UTF-8'?>
<Wix xmlns='http://schemas.microsoft.com/wix/2006/wi'>
	<Product Id='57F34C68-D95C-46A6-B78B-F8E02A8C484E' Name='AspireStudio' Language='1033' Version='1.1.35'
           Manufacturer='Aero Nexus' UpgradeCode='22757935-8558-4966-8928-4647964d2e4d'>
		<Package InstallerVersion='200' Compressed='yes' InstallScope='perMachine' />

		<MajorUpgrade DowngradeErrorMessage='A newer version of [ProductName] is already installed.' />
		<MediaTemplate />

		<Feature Id='ProductFeature' Title='WixInstaller' Level='1'>
			<ComponentGroupRef Id='ProductComponents' />
		</Feature>
	</Product>

	<Fragment>
		<Directory Id='TARGETDIR' Name='SourceDir'>
			<Directory Id='ProgramFilesFolder'>
        <Directory  Id='Company' Name='Aero Nexus'>
          <Directory Id='INSTALLFOLDER' Name='AspireStudio' />
        </Directory>
			</Directory>
		</Directory>
	</Fragment>

	<Fragment>
		<ComponentGroup Id='ProductComponents' Directory='INSTALLFOLDER'>
      <Component Id='ProductComponent' >
        <File Id="MyExecutable" Name="$(var.AspireStudio.TargetFileName)" Source="$(var.AspireStudio.TargetPath)" DiskId="1" />
      </Component>
      <Component Id='ReferenceDocComponent' >
        <File Id="ReferenceDoc" Name="ApiReference.chm" Source="$(var.AspireStudio.ProjectDir)bin/$(var.AspireStudio.Configuration)/ApiReference.chm" DiskId="1" />
      </Component>
      <Component Id='UserGuideComponent' >
        <File Id="UserGuide" Name="UserGuide.mht" Source="$(var.AspireStudio.ProjectDir)bin/$(var.AspireStudio.Configuration)/UserGuide.mht" DiskId="1" />
      </Component>
      <Component Id='BrowsingUIComponent' >
        <File Id="BrowsingUI" Name="AspireBrowsingUI.dll" Source="$(var.AspireStudio.ProjectDir)bin/$(var.AspireStudio.Configuration)/AspireBrowsingUI.dll" DiskId="1" />
      </Component>
      <Component Id='CoreComponent' >
        <File Id="Core" Name="AspireCore.dll" Source="$(var.AspireStudio.ProjectDir)bin/$(var.AspireStudio.Configuration)/AspireCore.dll" DiskId="1" />
      </Component>
      <Component Id='CoreModelsComponent' >
        <File Id="CoreModels" Name="AspireCoreModels.dll" Source="$(var.AspireStudio.ProjectDir)bin/$(var.AspireStudio.Configuration)/AspireCoreModels.dll" DiskId="1" />
      </Component>
      <Component Id='FrameworkComponent' >
        <File Id="Framework" Name="AspireFramework.dll" Source="$(var.AspireStudio.ProjectDir)bin/$(var.AspireStudio.Configuration)/AspireFramework.dll" DiskId="1" />
      </Component>
      <Component Id='PrimitivesComponent' >
        <File Id="Primitives" Name="AspirePrimitives.dll" Source="$(var.AspireStudio.ProjectDir)bin/$(var.AspireStudio.Configuration)/AspirePrimitives.dll" DiskId="1" />
      </Component>
      <Component Id='SpaceComponent' >
        <File Id="Space" Name="AspireSpace.dll" Source="$(var.AspireStudio.ProjectDir)bin/$(var.AspireStudio.Configuration)/AspireSpace.dll" DiskId="1" />
      </Component>
      <Component Id='UtilitiesComponent' >
        <File Id="Utilities" Name="AspireUtilities.dll" Source="$(var.AspireStudio.ProjectDir)bin/$(var.AspireStudio.Configuration)/AspireUtilities.dll" DiskId="1" />
      </Component>
      <Component Id='DockingTemplateComponent' >
        <File Id="DockingTemplate" Name="AspireStudio.docking.xml" Source="$(var.AspireStudio.ProjectDir)bin/$(var.AspireStudio.Configuration)/AspireStudio.docking.xml" DiskId="1" />
      </Component>
      <Component Id='AppConfigComponent' >
        <File Id="AppConfig" Name="AspireStudio.exe.config" Source="$(var.AspireStudio.ProjectDir)bin/$(var.AspireStudio.Configuration)/AspireStudio.exe.config" DiskId="1" />
      </Component>
      <Component Id='PluginsConfigComponent' >
        <File Id="PluginsConfig" Name="Plugins.xml" Source="$(var.AspireStudio.ProjectDir)bin/$(var.AspireStudio.Configuration)/Plugins.xml" DiskId="1" />
      </Component>
      <Component Id='ToolboxComponent' >
        <File Id="Toolbox" Name="Toolbox.dll" Source="$(var.AspireStudio.ProjectDir)bin/$(var.AspireStudio.Configuration)/Toolbox.dll" DiskId="1" />
      </Component>
      <Component Id='ToolboxConfigComponent' >
        <File Id="ToolboxConfig" Name="Toolbox.config.xml" Source="$(var.AspireStudio.ProjectDir)bin/$(var.AspireStudio.Configuration)/Toolbox.config.xml" DiskId="1" />
      </Component>
      <Component Id='ToolboxXmlComponent' >
        <File Id="ToolboxXml" Name="Toolbox.xml" Source="$(var.AspireStudio.ProjectDir)bin/$(var.AspireStudio.Configuration)/Toolbox.xml" DiskId="1" />
      </Component>
      <Component Id='DockingManagerComponent' >
        <File Id="DockingManager" Name="WeifenLuo.WinFormsUI.Docking.dll" Source="$(var.AspireStudio.ProjectDir)bin/$(var.AspireStudio.Configuration)/WeifenLuo.WinFormsUI.Docking.dll" DiskId="1" />
      </Component>
    </ComponentGroup>
	</Fragment>
</Wix>