<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <!--system.windows.forms jitDebugging="true" /-->
  <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Aspire.Studio.StudioSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="Aspire.Studio.Studio" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <userSettings>
        <Aspire.Studio.StudioSettings>
            <setting name="Size" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="BlackboardExpand" serializeAs="String">
                <value />
            </setting>
            <setting name="LoadLastSolution" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="BlackboardToolTips" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="LastSolutionFileName" serializeAs="String">
                <value>Browser\AspireBrowser.Asln</value>
            </setting>
            <setting name="BlackboardGeneratedCaptionRule" serializeAs="String">
                <value>Leaf</value>
            </setting>
            <setting name="DefaultSolutionDirectory" serializeAs="String">
                <value>$(MyDocuments)\AspireStudio Solutions\</value>
            </setting>
            <setting name="ToolBoxFileName" serializeAs="String">
                <value>ToolBox</value>
            </setting>
            <setting name="MessageLogResumes" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="MonitorCaptionRules" serializeAs="String">
                <value>VariableValue,Last2
CommandMessage,Last2
DataMessage,Last2
DataReplyMessage,Last2</value>
            </setting>
            <setting name="FindComponentWithWholeAddress" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="PluginConfigFile" serializeAs="String">
                <value>Plugins.xml</value>
            </setting>
        </Aspire.Studio.StudioSettings>
        <Aspire.Studio.Studio>
            <setting name="Scenario" serializeAs="String">
                <value>DemoSat</value>
            </setting>
        </Aspire.Studio.Studio>
    </userSettings>
</configuration>